<div class="box" >
    <div class="adapt" *ngIf="index%2===0">
        <div class="descriptor col-md-6" appResizeTrainee #des (appear) = "onAppear()" [@EnterLeft] = currentState [@Display] = currentState >
            <div class="descriptor-text" >
                <h1 class="traineeTitle">{{trainee.title}}</h1>
                <h2 class="traineePlace">{{trainee.place}}</h2>
                <p class="traineeDes">{{trainee.description}}</p>
                <h2 class="traineeYear">{{trainee.gapYear}}</h2>
            </div>
        </div>
        <div *ngIf="window.innerWidth >=991" class="col-md-6 img-train" (resized)="onResized($event)"  #img>
            <img id="img-trainee" [src]="trainee.imageUrl" [@fadeInOut] = currentState/>
        </div>
    </div>
    <div class="adapt" *ngIf="index%2===1">
        <div *ngIf="window.innerWidth > 991" class="col-md-6 img-train" (resized)="onResized($event)"  #img>
            <img id="img-trainee" [src]="trainee.imageUrl" [@fadeInOut] = currentState/>
        </div>
        <div class="descriptor col-md-6" appResizeTrainee #des (appear) = "onAppear()" [@EnterRight] = currentState>
            <div class="descriptor-text">
                <h1 class="traineeTitle">{{trainee.title}}</h1>
                <h2 class="traineePlace">{{trainee.place}}</h2>
                <p class="traineeDes">{{trainee.description}}</p>
                <h2 class="traineeYear">{{trainee.gapYear}}</h2>
            </div>
        </div>
    </div>
</div>