# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
portfolio/dist
portfolio/tmp
portfolio/out-tsc
# Only exists if Bazel was run
portfolio/bazel-out

# dependencies
portfolio/node_modules
back-end/node_modules
# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
portfolio/.sass-cache
portfolio/connect.lock
portfolio/coverage
portfolio/libpeerconnection.log
portfolio/npm-debug.log
portfolio/yarn-error.log
portfolio/testem.log
portfolio/typings

# System Files
portfolio/.DS_Store
portfolio/Thumbs.db
