<div class="container my-5">


  <!-- Section: Block Content -->
  <section class="dark-grey-text text-center">

    <h3 class="font-weight-bold mb-4 pb-2">Projets réalisés</h3>
    <p class="text-muted w-responsive mx-auto mb-5">Voici quelques projets que j'ai été amené à réaliser au cours de ces 3 dernières années, consultables depuis mon github.</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div *ngFor="let project of projects" class="col-md-6 mb-4 cont-sup">
        <div class="cont">
          <div class="view overlay rounded z-depth-1">
            <img [src]="project.imageUrl" class="img-fluid " alt="Sample project image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <div class="px-3 pt-3 mx-1 mt-1 pb-0">
          <a class="orange-text">
            <h6 class="font-weight-bold mt-2 mb-3">{{project.language.name}}</h6>
          </a>
          <h4 class="font-weight-bold mb-3">{{project.title}}</h4>
          <p class="text-muted">{{project.description}}</p>
          <a class="btn btn-success btn-rounded btn-md" href="{{project.link}}"> View more</a>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Block Content -->


</div>
<div class="empty"></div>