<div class="container-img" appResize>
    <img id="img-profile" src="../../assets/images/photocv.jpg"/>
    <div class="profile">
        <h1 id="name">Loïc Bertolotto</h1>
        <h1 id="profession">Étudiant Ingénieur « Sciences Informatiques »</h1>
        <h2 id="age"> {{age}} ans</h2>
        <p id="presentation">Actuellement en études d’ingénieur en spécialité « Sciences Informatiques », je suis à la recherche d’un contrat d’apprentissage pour les deux dernières années de ma formation d’ingénieur. </p>
    </div>
</div>
<app-timeline></app-timeline>