<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook-f w3-large"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fab fa-instagram w3-large"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-evlp mx-1">
            <i class="fas fa-envelope w3-large"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in w3-large"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-github mx-1">
            <i class="fab fa-github w3-large"> </i>
          </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-phone mx-1" title="Tél: 06.68.30.97.55">
              <i class="fas fa-phone w3-large"> </i>
            </a>
          </li>
      </ul>
      <!-- Social buttons -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->