nav{
    width: 100%;
    min-height: 60px;
    background-color: #2e2e28;
    padding: 0px;
    margin: 0px;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
}

.menu-normal {
    display: flex;
    flex-direction: row;
    
}

.menu-burger{
    flex-direction: column;
}

.menu-burger > ul {
    display: none;

}


ul{
    list-style-type:none;
}

#portfolio{
    font-size: x-large;
    font-family: Verdana, sans-serif;
    color: white;
    font-weight: 100;
    margin: 0px 20px 0px 20px;
}

.port-cont{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 60px;
}

.menu-normal > #portfolio {
    align-self: center;
}

.menu-burger > #portfolio {
    align-self: flex-start;
}

.normal{
    display:inline-flex; /* Aligne la liste horizontalement */
    list-style-type:none; /* Retire les puces devant les éléments de liste */
    margin:0px;
    padding:0px;
    align-self: end;
}

.normal > li {
    margin:15px;
    float:left;
}

a {
    color: white;
    font-size: 17px;
    font-family: Arial, sans-serif;
}

.burger-icon{
    position: absolute;
    right: 15px;
    width: 35px;
    height: 40px;
    top: 10px;
}


.burger {
    flex-direction: column;
    padding: 0px;
}

.burger > li {
    padding: 10px 0 10px 30px;
}

.burger > li:hover{
    background-color: grey;
}
